<app-header>
</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square9"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="section">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 mb-0 mb-lg-0">
                            <div class="title">
                                <h1 class="text-white font-weight-light">Camion Tracker <img src="assets/img/geo.png" style="width: 11%;" /></h1>
                            </div>
                            <p class="text-white mt-2">
                                En e-commerce, la logistique est un élément clef de la satisfaction et de la fidélisation client. Tout e-marchand doit permettre à ses clients d'être livrés rapidement. Conjuguer fiabilité logistique et maîtrise des coûts devient un enjeu stratégique.
                            </p>
                            <!-- <a class="btn btn-warning mt-4" href="https://demos.creative-tim.com/blk-design-system-angular/#/documentation/alerts"> -->
                            <a style="margin-left: 50%;" href="#annonces">
                                <strong>Voir nos Annonces</strong>
                            </a>
                            <!-- </a> -->
                        </div>
                        <div class="col-lg-7  mb-5 mb-lg-0" style="margin-top:2%">
                            <carousel [showIndicators]="true">
                                <slide>
                                    <img alt="First slide" class="d-block w-100" src="assets/img/2.jpg" />
                                    <div style="
                                      position: absolute;
                                      top: 90%;
                                      left: 50%;
                                      display: inline-block;
                                      overflow: hidden;
                                      white-space: nowrap;                  
                                      transform: translate(-50%, -50%);
                                    ">
                                        La logistique activité qui gére les flux physiques
                                    </div>

                                </slide>
                                <slide>
                                    <img alt="Second slide" class="d-block w-100" src="assets/img/4.jpg" />
                                    <div style="
                                      position: absolute;
                                      top: 90%;
                                      left: 50%;
                                      display: inline-block;
                                      overflow: hidden;
                                      white-space: nowrap;                  
                                      transform: translate(-50%, -50%);
                                    ">
                                        La logistique activité qui gére les flux physiques
                                    </div>

                                </slide>
                                <slide>
                                    <img alt="Third slide" class="d-block w-100" src="assets/img/6.jpg" />
                                    <div style="
                                      position: absolute;
                                      top: 90%;
                                      left: 50%;
                                      display: inline-block;
                                      overflow: hidden;
                                      white-space: nowrap;                  
                                      transform: translate(-50%, -50%);
                                    ">
                                        La logistique activité qui gére les flux physiques
                                    </div>

                                </slide>
                            </carousel>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main align-items-center">
        <img class="path" src="assets/img/path1.png" />
        <div class="title" id="annonces">
            <h1 class="text-white font-weight-light align-items-center" style=" text-align: center;">Nos Annonces </h1>
        </div>
        <app-annonce-cards></app-annonce-cards><br>
        <div class="title" id="tracker">
            <br>
            <h1 class="text-white font-weight-light align-items-center" style="text-align: center;">Camion Tracker </h1>
        </div>
        <div id="mapid" class="text-center" style=" height: 480px; width: 90%; margin-left: 5%;">
        </div>
        <div class="section section-basic" id="basic-elements"></div>
        <div style="margin-top: -5%;" aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal" id="myModal2" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button">
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
                        <div class="text-muted text-center ml-auto mr-auto">
                            <h3 class="mb-0">Se connecter avec</h3>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="btn-wrapper text-center">
                            <a class="btn btn-neutral btn-icon mr-1" href="javascript:void(0)">
                                <img src="assets/img/github.svg" />
                            </a>
                            <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
                                <img src="assets/img/google.svg" />
                            </a>
                        </div>
                        <div class="text-center text-muted mb-4 mt-3">
                            <small> Ou connectez-vous avec vos identifiants </small>
                        </div>
                        <form role="form" [formGroup]="register" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus1 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                                    </div>
                                    <input [class.is-invalid]="register.get('email').invalid && register.get('email').touched" formControlName="email" class="form-control" placeholder="Email" type="email" (focus)="focus1 = true" (blur)="focus1 = false" />
                                </div>
                                <div *ngIf="(email.invalid && email.touched) || email.dirty" class="text-danger">
                                    <h6 *ngIf="email.errors?.required" class="text-danger" style="text-align: end;">ne peut etre vide</h6>
                                    <h6 *ngIf="email.errors?.pattern" class="text-danger" style="text-align: end;">entrer un email valide</h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus2 === true }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                             <i class="tim-icons icon-key-25"> </i>
                                        </span>
                                    </div>
                                    <input [class.is-invalid]="register.get('password').invalid && register.get('password').touched" formControlName="password" required class="form-control" placeholder="Password" type="password" (focus)="focus2 = true" (blur)="focus2 = false" />
                                </div>
                                <div *ngIf="(password.invalid && password.touched) || password.dirty" class="text-danger">
                                    <h6 *ngIf="password.errors?.required" class="text-danger" style="text-align: end;">ne peut etre vide</h6>
                                    <!-- <h6 *ngIf="password.errors?.minlength" class="text-danger" style="text-align: end;">entrer au mois 8 carateres</h6> -->
                                </div>
                            </div>
                            <div class="form-check mt-3" style="text-align: end;">

                                Vous n’avez pas de compte ?
                                <button class="btn btn-link btn-info mr-1" [routerLink]="['/register']">Inscrivez vous ?</button>


                            </div>
                            <div class="text-center">
                                <button class="btn btn-success mr-1" type="submit" [disabled]="!register.valid">Valider</button>
                                <br>

                            </div>
                            <p class="text-danger" style="text-align: center;font-weight: bold;">{{errormessage}}</p>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>