<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>NEW Marchandise</h2>
        <form [formGroup]="marchandiseForm" (ngSubmit)="onSaveMarchandise()">
            <div class="form-group">
                <label>description</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="form-group">
                <label>typologie</label>
                <input type="text" class="form-control" formControlName="typologie">
            </div>
            <div class="form-group">
                <label>poids</label>
                <input type="number" class="form-control" formControlName="poids">
            </div>
            <div class="form-group">
                <label>description</label>
                <input type="date" class="form-control" formControlName="dateExp">
            </div>
            <div class="form-group">
                <label>Date Livraison</label>
                <input type="date" class="form-control" formControlName="dateLiv">
            </div>
            <div class="form-group">
                <label>Date Livraison</label>
                <input type="date" class="form-control" formControlName="dateCreation">
            </div>
            <button class="btn btn-success" [disabled]="marchandiseForm.invalid" type="submit">save</button>

        </form>
    </div>
</div>